<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BeaverSoft.StrongBeaver.Core" version="0.9.8-alpha" targetFramework="net471" />
  <package id="Bogus" version="27.0.1" targetFramework="net471" />
  <package id="CalcEngine" version="1.0.0" targetFramework="net471" />
  <package id="FluentWPF" version="0.7.0" targetFramework="net472" />
  <package id="Microsoft.PowerShell.5.ReferenceAssemblies" version="1.1.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
</packages>